In [2]:
# Import important library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Q1 Read the input file and check the data dimension

In [0]:
#Read input file and understand the data
# "default" is my dependent variable

In [48]:
gcredit_df = pd.read_csv("german_credit.csv")

In [49]:
gcredit_df.shape

(1000, 21)

In [50]:
gcredit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
default                       1000 non-null int64
account_check_status          1000 non-null object
duration_in_month             1000 non-null int64
credit_history                1000 non-null object
purpose                       1000 non-null object
credit_amount                 1000 non-null int64
savings                       1000 non-null object
present_emp_since             1000 non-null object
installment_as_income_perc    1000 non-null int64
personal_status_sex           1000 non-null object
other_debtors                 1000 non-null object
present_res_since             1000 non-null int64
property                      1000 non-null object
age                           1000 non-null int64
other_installment_plans       1000 non-null object
housing                       1000 non-null object
credits_this_bank             1000 non-null int64
job                           1000 non-null object
people_under_maintenance      1000 non-null int64
telephone                     1000 non-null object
foreign_worker                1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [51]:
gcredit_df.isnull().values.any()

False

In [52]:
gcredit_df.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,present_res_since,property,age,other_installment_plans,housing,credits_this_bank,job,people_under_maintenance,telephone,foreign_worker
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,4,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under the customers name",yes
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,2,real estate,22,none,own,1,skilled employee / official,1,none,yes
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,3,real estate,49,none,own,1,unskilled - resident,2,none,yes
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,4,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee / official,2,none,yes
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,4,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes

In [0]:
# Lets build a Ensemble model but need to modify the dataset first

### Q2.Prepare the model data by converting non-numeric to dummy ( 1 Marks)
##### Hint: Use get_dummies

In [53]:
# Print Shape of model data
gcredit_df.shape

(1000, 21)

In [54]:
for feature in gcredit_df.columns: # Loop through all columns in the dataframe
    if gcredit_df[feature].dtypes == 'object': # Only apply for columns with categorical strings
        temp = pd.get_dummies(gcredit_df[feature],prefix=feature)
        gcredit_df = gcredit_df.join(temp)

# gcredit_new_df = pd.get_dummies(gcredit_df,prefix='dummy',drop_first=True)

In [55]:
gcredit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 75 columns):
default                                                                       1000 non-null int64
account_check_status                                                          1000 non-null object
duration_in_month                                                             1000 non-null int64
credit_history                                                                1000 non-null object
purpose                                                                       1000 non-null object
credit_amount                                                                 1000 non-null int64
savings                                                                       1000 non-null object
present_emp_since                                                             1000 non-null object
installment_as_income_perc                                                    1000 non-null int64
personal_status_sex                                                           1000 non-null object
other_debtors                                                                 1000 non-null object
present_res_since                                                             1000 non-null int64
property                                                                      1000 non-null object
age                                                                           1000 non-null int64
other_installment_plans                                                       1000 non-null object
housing                                                                       1000 non-null object
credits_this_bank                                                             1000 non-null int64
job                                                                           1000 non-null object
people_under_maintenance                                                      1000 non-null int64
telephone                                                                     1000 non-null object
foreign_worker                                                                1000 non-null object
account_check_status_0 <= ... < 200 DM                                        1000 non-null uint8
account_check_status_< 0 DM                                                   1000 non-null uint8
account_check_status_>= 200 DM / salary assignments for at least 1 year       1000 non-null uint8
account_check_status_no checking account                                      1000 non-null uint8
credit_history_all credits at this bank paid back duly                        1000 non-null uint8
credit_history_critical account/ other credits existing (not at this bank)    1000 non-null uint8
credit_history_delay in paying off in the past                                1000 non-null uint8
credit_history_existing credits paid back duly till now                       1000 non-null uint8
credit_history_no credits taken/ all credits paid back duly                   1000 non-null uint8
purpose_(vacation - does not exist?)                                          1000 non-null uint8
purpose_business                                                              1000 non-null uint8
purpose_car (new)                                                             1000 non-null uint8
purpose_car (used)                                                            1000 non-null uint8
purpose_domestic appliances                                                   1000 non-null uint8
purpose_education                                                             1000 non-null uint8
purpose_furniture/equipment                                                   1000 non-null uint8
purpose_radio/television                                                      1000 non-null uint8
purpose_repairs                                                               1000 non-null uint8
purpose_retraining                                                            1000 non-null uint8
savings_.. >= 1000 DM                                                         1000 non-null uint8
savings_... < 100 DM                                                          1000 non-null uint8
savings_100 <= ... < 500 DM                                                   1000 non-null uint8
savings_500 <= ... < 1000 DM                                                  1000 non-null uint8
savings_unknown/ no savings account                                           1000 non-null uint8
present_emp_since_.. >= 7 years                                               1000 non-null uint8
present_emp_since_... < 1 year                                                1000 non-null uint8
present_emp_since_1 <= ... < 4 years                                          1000 non-null uint8
present_emp_since_4 <= ... < 7 years                                          1000 non-null uint8
present_emp_since_unemployed                                                  1000 non-null uint8
personal_status_sex_female : divorced/separated/married                       1000 non-null uint8
personal_status_sex_male : divorced/separated                                 1000 non-null uint8
personal_status_sex_male : married/widowed                                    1000 non-null uint8
personal_status_sex_male : single                                             1000 non-null uint8
other_debtors_co-applicant                                                    1000 non-null uint8
other_debtors_guarantor                                                       1000 non-null uint8
other_debtors_none                                                            1000 non-null uint8
property_if not A121 : building society savings agreement/ life insurance     1000 non-null uint8
property_if not A121/A122 : car or other, not in attribute 6                  1000 non-null uint8
property_real estate                                                          1000 non-null uint8
property_unknown / no property                                                1000 non-null uint8
other_installment_plans_bank                                                  1000 non-null uint8
other_installment_plans_none                                                  1000 non-null uint8
other_installment_plans_stores                                                1000 non-null uint8
housing_for free                                                              1000 non-null uint8
housing_own                                                                   1000 non-null uint8
housing_rent                                                                  1000 non-null uint8
job_management/ self-employed/ highly qualified employee/ officer             1000 non-null uint8
job_skilled employee / official                                               1000 non-null uint8
job_unemployed/ unskilled - non-resident                                      1000 non-null uint8
job_unskilled - resident                                                      1000 non-null uint8
telephone_none                                                                1000 non-null uint8
telephone_yes, registered under the customers name                            1000 non-null uint8
foreign_worker_no                                                             1000 non-null uint8
foreign_worker_yes                                                            1000 non-null uint8
dtypes: int64(8), object(13), uint8(54)
memory usage: 216.9+ KB

In [57]:
gcredit_df.head()

,default,account_check_status,duration_in_month,credit_history,purpose,credit_amount,savings,present_emp_since,installment_as_income_perc,personal_status_sex,...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
0,0,< 0 DM,6,critical account/ other credits existing (not ...,domestic appliances,1169,unknown/ no savings account,.. >= 7 years,4,male : single,...,1,0,0,1,0,0,0,1,0,1
1,1,0 <= ... < 200 DM,48,existing credits paid back duly till now,domestic appliances,5951,... < 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,...,1,0,0,1,0,0,1,0,0,1
2,0,no checking account,12,critical account/ other credits existing (not ...,(vacation - does not exist?),2096,... < 100 DM,4 <= ... < 7 years,2,male : single,...,1,0,0,0,0,1,1,0,0,1
3,0,< 0 DM,42,existing credits paid back duly till now,radio/television,7882,... < 100 DM,4 <= ... < 7 years,2,male : single,...,0,0,0,1,0,0,1,0,0,1
4,1,< 0 DM,24,delay in paying off in the past,car (new),4870,... < 100 DM,1 <= ... < 4 years,3,male : single,...,0,0,0,1,0,0,1,0,0,1

### Check for highly correlated variables but don't required any treatment for this use case

### Drop the original variables which are converted to dummy

In [59]:
for feature in gcredit_df.columns: # Loop through all columns in the dataframe
    if gcredit_df[feature].dtypes == 'object': # Only apply for columns with categorical strings
        gcredit_df.drop(gcredit_df[[feature]],axis=1,inplace = True)

In [60]:
gcredit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 62 columns):
default                                                                       1000 non-null int64
duration_in_month                                                             1000 non-null int64
credit_amount                                                                 1000 non-null int64
installment_as_income_perc                                                    1000 non-null int64
present_res_since                                                             1000 non-null int64
age                                                                           1000 non-null int64
credits_this_bank                                                             1000 non-null int64
people_under_maintenance                                                      1000 non-null int64
account_check_status_0 <= ... < 200 DM                                        1000 non-null uint8
account_check_status_< 0 DM                                                   1000 non-null uint8
account_check_status_>= 200 DM / salary assignments for at least 1 year       1000 non-null uint8
account_check_status_no checking account                                      1000 non-null uint8
credit_history_all credits at this bank paid back duly                        1000 non-null uint8
credit_history_critical account/ other credits existing (not at this bank)    1000 non-null uint8
credit_history_delay in paying off in the past                                1000 non-null uint8
credit_history_existing credits paid back duly till now                       1000 non-null uint8
credit_history_no credits taken/ all credits paid back duly                   1000 non-null uint8
purpose_(vacation - does not exist?)                                          1000 non-null uint8
purpose_business                                                              1000 non-null uint8
purpose_car (new)                                                             1000 non-null uint8
purpose_car (used)                                                            1000 non-null uint8
purpose_domestic appliances                                                   1000 non-null uint8
purpose_education                                                             1000 non-null uint8
purpose_furniture/equipment                                                   1000 non-null uint8
purpose_radio/television                                                      1000 non-null uint8
purpose_repairs                                                               1000 non-null uint8
purpose_retraining                                                            1000 non-null uint8
savings_.. >= 1000 DM                                                         1000 non-null uint8
savings_... < 100 DM                                                          1000 non-null uint8
savings_100 <= ... < 500 DM                                                   1000 non-null uint8
savings_500 <= ... < 1000 DM                                                  1000 non-null uint8
savings_unknown/ no savings account                                           1000 non-null uint8
present_emp_since_.. >= 7 years                                               1000 non-null uint8
present_emp_since_... < 1 year                                                1000 non-null uint8
present_emp_since_1 <= ... < 4 years                                          1000 non-null uint8
present_emp_since_4 <= ... < 7 years                                          1000 non-null uint8
present_emp_since_unemployed                                                  1000 non-null uint8
personal_status_sex_female : divorced/separated/married                       1000 non-null uint8
personal_status_sex_male : divorced/separated                                 1000 non-null uint8
personal_status_sex_male : married/widowed                                    1000 non-null uint8
personal_status_sex_male : single                                             1000 non-null uint8
other_debtors_co-applicant                                                    1000 non-null uint8
other_debtors_guarantor                                                       1000 non-null uint8
other_debtors_none                                                            1000 non-null uint8
property_if not A121 : building society savings agreement/ life insurance     1000 non-null uint8
property_if not A121/A122 : car or other, not in attribute 6                  1000 non-null uint8
property_real estate                                                          1000 non-null uint8
property_unknown / no property                                                1000 non-null uint8
other_installment_plans_bank                                                  1000 non-null uint8
other_installment_plans_none                                                  1000 non-null uint8
other_installment_plans_stores                                                1000 non-null uint8
housing_for free                                                              1000 non-null uint8
housing_own                                                                   1000 non-null uint8
housing_rent                                                                  1000 non-null uint8
job_management/ self-employed/ highly qualified employee/ officer             1000 non-null uint8
job_skilled employee / official                                               1000 non-null uint8
job_unemployed/ unskilled - non-resident                                      1000 non-null uint8
job_unskilled - resident                                                      1000 non-null uint8
telephone_none                                                                1000 non-null uint8
telephone_yes, registered under the customers name                            1000 non-null uint8
foreign_worker_no                                                             1000 non-null uint8
foreign_worker_yes                                                            1000 non-null uint8
dtypes: int64(8), uint8(54)
memory usage: 115.3 KB

In [61]:
gcredit_df.head()

,default,duration_in_month,credit_amount,installment_as_income_perc,present_res_since,age,credits_this_bank,people_under_maintenance,account_check_status_0 <= ... < 200 DM,account_check_status_< 0 DM,...,housing_own,housing_rent,job_management/ self-employed/ highly qualified employee/ officer,job_skilled employee / official,job_unemployed/ unskilled - non-resident,job_unskilled - resident,telephone_none,"telephone_yes, registered under the customers name",foreign_worker_no,foreign_worker_yes
0,0,6,1169,4,4,67,2,1,0,1,...,1,0,0,1,0,0,0,1,0,1
1,1,48,5951,2,2,22,1,1,1,0,...,1,0,0,1,0,0,1,0,0,1
2,0,12,2096,2,3,49,1,2,0,0,...,1,0,0,0,0,1,1,0,0,1
3,0,42,7882,2,4,45,1,2,0,1,...,0,0,0,1,0,0,1,0,0,1
4,1,24,4870,3,4,53,2,2,0,1,...,0,0,0,1,0,0,1,0,0,1

### Q3 Split Train/Test data 70:30 ratio( 1 Marks)
##### Hint:from sklearn.model_selection import train_test_split

In [62]:
from sklearn.model_selection import train_test_split

In [64]:
test_size = 0.30
X = gcredit_df.iloc[:,1:63]
y = gcredit_df.iloc[:,0]

In [65]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 61 columns):
duration_in_month                                                             1000 non-null int64
credit_amount                                                                 1000 non-null int64
installment_as_income_perc                                                    1000 non-null int64
present_res_since                                                             1000 non-null int64
age                                                                           1000 non-null int64
credits_this_bank                                                             1000 non-null int64
people_under_maintenance                                                      1000 non-null int64
account_check_status_0 <= ... < 200 DM                                        1000 non-null uint8
account_check_status_< 0 DM                                                   1000 non-null uint8
account_check_status_>= 200 DM / salary assignments for at least 1 year       1000 non-null uint8
account_check_status_no checking account                                      1000 non-null uint8
credit_history_all credits at this bank paid back duly                        1000 non-null uint8
credit_history_critical account/ other credits existing (not at this bank)    1000 non-null uint8
credit_history_delay in paying off in the past                                1000 non-null uint8
credit_history_existing credits paid back duly till now                       1000 non-null uint8
credit_history_no credits taken/ all credits paid back duly                   1000 non-null uint8
purpose_(vacation - does not exist?)                                          1000 non-null uint8
purpose_business                                                              1000 non-null uint8
purpose_car (new)                                                             1000 non-null uint8
purpose_car (used)                                                            1000 non-null uint8
purpose_domestic appliances                                                   1000 non-null uint8
purpose_education                                                             1000 non-null uint8
purpose_furniture/equipment                                                   1000 non-null uint8
purpose_radio/television                                                      1000 non-null uint8
purpose_repairs                                                               1000 non-null uint8
purpose_retraining                                                            1000 non-null uint8
savings_.. >= 1000 DM                                                         1000 non-null uint8
savings_... < 100 DM                                                          1000 non-null uint8
savings_100 <= ... < 500 DM                                                   1000 non-null uint8
savings_500 <= ... < 1000 DM                                                  1000 non-null uint8
savings_unknown/ no savings account                                           1000 non-null uint8
present_emp_since_.. >= 7 years                                               1000 non-null uint8
present_emp_since_... < 1 year                                                1000 non-null uint8
present_emp_since_1 <= ... < 4 years                                          1000 non-null uint8
present_emp_since_4 <= ... < 7 years                                          1000 non-null uint8
present_emp_since_unemployed                                                  1000 non-null uint8
personal_status_sex_female : divorced/separated/married                       1000 non-null uint8
personal_status_sex_male : divorced/separated                                 1000 non-null uint8
personal_status_sex_male : married/widowed                                    1000 non-null uint8
personal_status_sex_male : single                                             1000 non-null uint8
other_debtors_co-applicant                                                    1000 non-null uint8
other_debtors_guarantor                                                       1000 non-null uint8
other_debtors_none                                                            1000 non-null uint8
property_if not A121 : building society savings agreement/ life insurance     1000 non-null uint8
property_if not A121/A122 : car or other, not in attribute 6                  1000 non-null uint8
property_real estate                                                          1000 non-null uint8
property_unknown / no property                                                1000 non-null uint8
other_installment_plans_bank                                                  1000 non-null uint8
other_installment_plans_none                                                  1000 non-null uint8
other_installment_plans_stores                                                1000 non-null uint8
housing_for free                                                              1000 non-null uint8
housing_own                                                                   1000 non-null uint8
housing_rent                                                                  1000 non-null uint8
job_management/ self-employed/ highly qualified employee/ officer             1000 non-null uint8
job_skilled employee / official                                               1000 non-null uint8
job_unemployed/ unskilled - non-resident                                      1000 non-null uint8
job_unskilled - resident                                                      1000 non-null uint8
telephone_none                                                                1000 non-null uint8
telephone_yes, registered under the customers name                            1000 non-null uint8
foreign_worker_no                                                             1000 non-null uint8
foreign_worker_yes                                                            1000 non-null uint8
dtypes: int64(7), uint8(54)
memory usage: 107.5 KB

In [73]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: default, dtype: int64

In [74]:
seed =1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=seed)

### Q4 Build Random Forest Model( 1 Marks)
#### Hint:from sklearn.ensemble import RandomForestClassifier using n_jobs=2,n_estimators=500,criterion="entropy",random_state=9999

In [77]:
from sklearn.ensemble import RandomForestClassifier

In [79]:
model = RandomForestClassifier(n_estimators=500,n_jobs=2,criterion='entropy',random_state=9999)

In [96]:
from sklearn import preprocessing

# scale all the columns of the mpg_df. This will produce a numpy array
#pima_df_scaled = preprocessing.scale(pima_df[0:7])
X_train_scaled = preprocessing.scale(X_train)
X_test_scaled = preprocessing.scale(X_test)

In [97]:
model.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=2,
                       oob_score=False, random_state=9999, verbose=0,
                       warm_start=False)

In [98]:
y_predict = model.predict(X_test_scaled)

### Q5 Calculate Confusion Matrix and Accuracy score (1 Marks)
##### Hint: Use confusion_matrix and accuracy_score

In [100]:
model.score(X_test_scaled , y_test)

0.74

In [101]:
from sklearn.metrics import confusion_matrix

conf_matrix = confusion_matrix(y_test,y_predict)

conf_matrix

array([[197,  17],
       [ 61,  25]], dtype=int64)

In [102]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.76      0.92      0.83       214
           1       0.60      0.29      0.39        86

    accuracy                           0.74       300
   macro avg       0.68      0.61      0.61       300
weighted avg       0.72      0.74      0.71       300

### Q6 Show the list of the features importance( 1 Marks)

In [103]:
print(model.feature_importances_)

[0.0720369  0.10011299 0.03698526 0.03336023 0.07812153 0.01887908
 0.01134648 0.01671098 0.03092904 0.00733814 0.0447593  0.00769965
 0.02938331 0.00989199 0.01463478 0.01253093 0.00565399 0.01148948
 0.01805625 0.01189063 0.01544127 0.00444066 0.0015188  0.01262918
 0.002495   0.00095491 0.00854398 0.02014251 0.00914877 0.00585681
 0.01370746 0.01401708 0.01406608 0.0150978  0.01236615 0.00753987
 0.01564968 0.00650298 0.00716742 0.01598798 0.00792537 0.00874017
 0.01067193 0.01268978 0.01412935 0.01491938 0.01014396 0.01428347
 0.01744218 0.00769151 0.00703641 0.01458963 0.01045272 0.0115418
 0.01510074 0.00197804 0.01112365 0.01424959 0.0143988  0.00275009
 0.00305608]

### Q7 K-fold cross-validation( 2 Marks)
##### k-fold cross validation( without stratification)
##### Usually k is set as 10-20 in practical settings, depends on data set size

In [104]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [105]:
# Use below values
num_folds = 10
seed = 77
kfold = KFold(n_splits=num_folds, random_state=seed)

In [0]:
#Validate the Random Forest model build above using k fold

In [106]:
results = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=kfold)
print("Mean Square Error: %.3f (%.3f)" % (-results.mean(), results.std()))

Mean Square Error: 0.235 (0.050)

In [0]:
#Calculate Mean score

In [107]:
results = cross_val_score(model, X, y, scoring='r2', cv=kfold)
print("Mean Square Error: %.3f (%.3f)" % (-results.mean(), results.std()))

Mean Square Error: 0.126 (0.195)

In [0]:
# Calculate score standard deviation using std()

# Q8 Print the confusion matrix( 1 Marks)

In [108]:
from sklearn.model_selection import cross_val_predict

In [110]:
k_predict = cross_val_predict(model,X,y,cv=kfold)
print("Confusion matrix: \n",confusion_matrix(y,k_predict))

Confusion matrix:
 [[649  51]
 [184 116]]

# Q9.Classification accuracy: 
percentage of correct predictions and Calculate sensitivity (or True Positive Rate or Recall) and Precision.
(2 Marks)

In [111]:
print(classification_report(y, k_predict))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85       700
           1       0.69      0.39      0.50       300

    accuracy                           0.77      1000
   macro avg       0.74      0.66      0.67      1000
weighted avg       0.75      0.77      0.74      1000

[link text](https://)### Bootstrapping ( Bonus and Optional)
##### Given a dataset of size n, a bootstrap sample is created by sampling n instances uniformly from the data (with/without replacement)
##### Create a model with each bootstrap sample and validate it with the test set
##### Final result is calculated by averaging the accuracy of models

In [0]:
# Number of iterations for bootstrapping
bootstrap_iteration = 10
accuracy = []

In [0]:
from sklearn.utils import resample
from sklearn.metrics import accuracy_score

for i in range(bootstrap_iteration):
    X_, y_ = resample(X_train, y_train)
    rfm.fit(X_, y_)
    y_pred = rfm.predict(X_test)
    
    acc = accuracy_score(y_pred, y_test)
    accuracy.append(acc)

In [0]:
accuracy = np.array(accuracy)
print('Accuracy Score')
print('Avearge: ', accuracy.mean())
print('Standard deviation: ', accuracy.std())

Accuracy Score
Avearge:  0.6893333333333334
Standard deviation:  0.014966629547095768