In [0]:
 #############################################Blog Authorship Corpus ####################################################

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [0]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [0]:
project_path = "/content/drive/My Drive/Colab Notebooks/NLP/"

In [0]:
#Load the dataset 
from zipfile import ZipFile
with ZipFile(project_path +'blog-authorship-corpus.zip', 'r') as z:
  z.extractall()

In [0]:
blogs = pd.read_csv("blogtext.csv")

In [0]:
blogs.head()

        id  ...                                               text
0  2059027  ...             Info has been found (+/- 100 pages,...
1  2059027  ...             These are the team members:   Drewe...
2  2059027  ...             In het kader van kernfusie op aarde...
3  2059027  ...                   testing!!!  testing!!!
4  3581210  ...               Thanks to Yahoo!'s Toolbar I can ...

[5 rows x 7 columns]

In [0]:
blogs.shape

(681284, 7)

In [0]:
blogs.topic.value_counts()

indUnk                     251015
Student                    153903
Technology                  42055
Arts                        32449
Education                   29633
Communications-Media        20140
Internet                    16006
Non-Profit                  14700
Engineering                 11653
Law                          9040
Publishing                   7753
Science                      7269
Government                   6907
Consulting                   5862
Religion                     5235
Fashion                      4851
Marketing                    4769
Advertising                  4676
BusinessServices             4500
Banking                      4049
Chemicals                    3928
Telecommunications           3891
Accounting                   3832
Military                     3128
Museums-Libraries            3096
Sports-Recreation            3038
HumanResources               3010
RealEstate                   2870
Transportation               2326
Manufacturing                2272
Biotech                      2234
Tourism                      1942
LawEnforcement-Security      1878
Architecture                 1638
InvestmentBanking            1292
Automotive                   1244
Agriculture                  1235
Construction                 1093
Environment                   592
Maritime                      280
Name: topic, dtype: int64

In [0]:
blogs.dtypes

id         int64
gender    object
age        int64
topic     object
sign      object
date      object
text      object
dtype: object

In [0]:
blogs.topic = blogs.topic.astype(str)

In [0]:
#Reducing the sample size by choosing few topics.

blogs_student = blogs[ (blogs.topic == 'Student') ] 
blogs_tech = blogs[ (blogs.topic == 'Technology') ]
blogs_arts = blogs[(blogs.topic == 'Arts')]       
blogs_non_profit = blogs[(blogs.topic == 'Non-Profit')]
blogs_law = blogs[blogs.topic == 'Law']
blogs_gov = blogs[(blogs.topic == 'Government')]
blogs_rel = blogs[(blogs.topic == 'Religion')]
blogs_fashion = blogs[(blogs.topic == 'Fashion')]

In [0]:
#Downsampling- To remove data imbalances
from sklearn.utils import resample

blogs_student = resample(blogs_student, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_tech = resample(blogs_tech, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_arts = resample(blogs_arts, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_non_profit = resample(blogs_non_profit, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_law = resample(blogs_law, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_gov = resample(blogs_gov, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_rel = resample(blogs_rel, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

blogs_fashion = resample(blogs_fashion, 
                      replace=True,    # sample with replacement
                      n_samples=2000,     # to match number of values in each class
                      random_state=123) # reproducible results

In [0]:
blogs = pd.concat([blogs_student, blogs_tech, blogs_arts, blogs_non_profit, blogs_law, blogs_gov, blogs_rel, blogs_fashion ])

In [0]:
blogs.topic.value_counts()

Religion      2000
Government    2000
Law           2000
Fashion       2000
Non-Profit    2000
Student       2000
Technology    2000
Arts          2000
Name: topic, dtype: int64

In [0]:
blogs.head()

             id  ...                                               text
72398    479019  ...               Ive been watching a lot of movies...
132682  3622174  ...                Zuma, by Pop Cap games, is one o...
82810   1478632  ...          [Step Up Day? WTF?]  Yeah, the eighth ...
543401  2973911  ...             Ok, so i haven't posted for some ti...
650855   891544  ...         hi gang...  the hunt may have to be pos...

[5 rows x 7 columns]

In [0]:
 # DATA PREPROCESSING STARTS

In [0]:
#Changing to lowercase
blogs['text'] = blogs['text'].apply( lambda t : ' '.join( word.lower() for word in t.split()  ) )

In [0]:
blogs['text'].head(5)

72398     ive been watching a lot of movies lately. in t...
132682    zuma, by pop cap games, is one of the most add...
82810     [step up day? wtf?] yeah, the eighth graders c...
543401    ok, so i haven't posted for some time... sorry...
650855    hi gang... the hunt may have to be postponed. ...
Name: text, dtype: object

In [0]:
#Remove unwanted characters
blogs['text'] = blogs['text'].str.replace( '[^\w\s]' , '' )
blogs['text'].head(10)

72398     ive been watching a lot of movies lately in th...
132682    zuma by pop cap games is one of the most addic...
82810     step up day wtf yeah the eighth graders come u...
543401    ok so i havent posted for some time sorry bout...
650855    hi gang the hunt may have to be postponed ther...
584378    wow havent been here in a few weeks thanks for...
229176    shots and shots welll today was an interesting...
679363    when she loved me by sarah mclachlan when some...
317983    urllink so i think i found the last can of tab...
541092    bam a whole nother week has gone by is nother ...
Name: text, dtype: object

In [0]:
#Remove stop words
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [0]:
stop = stopwords.words('english')
blogs['text'] = blogs['text'].apply( lambda t : " ".join( word for word in t.split() 
                                                      if word not in stop ) )
blogs['text'].head(10)

72398     ive watching lot movies lately month may ive w...
132682    zuma pop cap games one addicting web games eve...
82810     step day wtf yeah eighth graders come school m...
543401    ok havent posted time sorry bout anyways ayan ...
650855    hi gang hunt may postponed possibility ill goi...
584378    wow havent weeks thanks comments guys apologiz...
229176    shots shots welll today interesting day ordina...
679363    loved sarah mclachlan somebody loved everythin...
317983    urllink think found last tab earth found old b...
541092    bam whole nother week gone nother real word an...
Name: text, dtype: object

In [0]:
#Remove unwanted spaces
blogs['text'] = blogs['text'].str.strip()
blogs['text'].head(10)

72398     ive watching lot movies lately month may ive w...
132682    zuma pop cap games one addicting web games eve...
82810     step day wtf yeah eighth graders come school m...
543401    ok havent posted time sorry bout anyways ayan ...
650855    hi gang hunt may postponed possibility ill goi...
584378    wow havent weeks thanks comments guys apologiz...
229176    shots shots welll today interesting day ordina...
679363    loved sarah mclachlan somebody loved everythin...
317983    urllink think found last tab earth found old b...
541092    bam whole nother week gone nother real word an...
Name: text, dtype: object

In [0]:
blogs.age = blogs.age.astype(str)

In [0]:
##Merge all the label columns together
blogs['labels'] = blogs[['gender', 'age', 'topic', 'sign']].values.tolist()
blogs.head()

             id  ...                            labels
72398    479019  ...       [male, 24, Student, Gemini]
132682  3622174  ...          [male, 16, Student, Leo]
82810   1478632  ...          [male, 17, Student, Leo]
543401  2973911  ...  [male, 17, Student, Sagittarius]
650855   891544  ...        [male, 27, Student, Libra]

[5 rows x 8 columns]

In [0]:
blogs.dtypes

id         int64
gender    object
age       object
topic     object
sign      object
date      object
text      object
labels    object
dtype: object

In [0]:
blogs_final = blogs[['text','labels']]
blogs_final.head()

                                                     text                            labels
72398   ive watching lot movies lately month may ive w...       [male, 24, Student, Gemini]
132682  zuma pop cap games one addicting web games eve...          [male, 16, Student, Leo]
82810   step day wtf yeah eighth graders come school m...          [male, 17, Student, Leo]
543401  ok havent posted time sorry bout anyways ayan ...  [male, 17, Student, Sagittarius]
650855  hi gang hunt may postponed possibility ill goi...        [male, 27, Student, Libra]

In [0]:
blogs_final.shape

(16000, 2)

In [0]:
blogs_final.columns

Index(['text', 'labels'], dtype='object')

In [0]:
#Separate features and labels
x = blogs_final['text']
y = blogs_final['labels']
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [0]:
x_train.shape

(12000,)

In [0]:
x_test.shape

(4000,)

In [0]:
blogs_final.shape

(16000, 2)

In [0]:
# Vectorize the features -------------------

In [0]:
#Create Bag of Words using count vectorizer
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,2))

In [0]:
#Vectorize training and testing features 
x_train_dtm = cv.fit_transform(x_train)
x_test_dtm = cv.transform(x_test)

In [0]:
print('Features: ', x_train_dtm)

Features:    (0, 585794)	1
  (0, 514638)	1
  (0, 86924)	1
  (0, 461064)	1
  (0, 445867)	1
  (0, 269149)	1
  (0, 550167)	1
  (0, 307747)	1
  (0, 864319)	1
  (0, 313557)	1
  (0, 585957)	1
  (0, 514776)	1
  (0, 87322)	1
  (0, 461222)	1
  (0, 447058)	1
  (0, 269273)	1
  (0, 550194)	1
  (0, 307748)	1
  (0, 864323)	1
  (1, 86924)	1
  (1, 550058)	1
  (1, 336958)	1
  (1, 377369)	1
  (1, 430106)	1
  (1, 600712)	4
  :	:
  (11999, 736406)	1
  (11999, 329901)	1
  (11999, 28352)	1
  (11999, 615065)	1
  (11999, 618371)	1
  (11999, 180297)	1
  (11999, 559366)	1
  (11999, 398015)	1
  (11999, 806007)	1
  (11999, 615973)	1
  (11999, 24040)	1
  (11999, 615385)	1
  (11999, 838751)	1
  (11999, 604333)	1
  (11999, 142232)	1
  (11999, 648330)	1
  (11999, 593800)	1
  (11999, 874435)	1
  (11999, 629265)	1
  (11999, 527789)	1
  (11999, 604361)	1
  (11999, 330048)	1
  (11999, 194411)	1
  (11999, 412243)	1
  (11999, 265049)	1

In [63]:
#Create a dictionary to get the count of every label
blogs['labels_string'] = blogs[['gender', 'age', 'topic', 'sign']].apply(lambda x: ','.join(x), axis = 1)
cv_train_label = CountVectorizer(analyzer = 'word')
cv_train_label.fit_transform(blogs['labels_string'])
cv_train_label.vocabulary_

{'13': 0,
 '14': 1,
 '15': 2,
 '16': 3,
 '17': 4,
 '23': 5,
 '24': 6,
 '25': 7,
 '26': 8,
 '27': 9,
 '33': 10,
 '34': 11,
 '35': 12,
 '36': 13,
 '37': 14,
 '38': 15,
 '39': 16,
 '40': 17,
 '41': 18,
 '42': 19,
 '43': 20,
 '44': 21,
 '45': 22,
 '46': 23,
 '47': 24,
 '48': 25,
 'aquarius': 26,
 'aries': 27,
 'arts': 28,
 'cancer': 29,
 'capricorn': 30,
 'fashion': 31,
 'female': 32,
 'gemini': 33,
 'government': 34,
 'law': 35,
 'leo': 36,
 'libra': 37,
 'male': 38,
 'non': 39,
 'pisces': 40,
 'profit': 41,
 'religion': 42,
 'sagittarius': 43,
 'scorpio': 44,
 'student': 45,
 'taurus': 46,
 'technology': 47,
 'virgo': 48}

In [0]:
##Transform labels using MultiLabelBinarizer ----

In [0]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [0]:
y_train_transformed = mlb.fit_transform(y_train)

In [0]:
y_test_transformed = mlb.fit_transform(y_test)

In [0]:
mlb.classes_

array(['13', '14', '15', '16', '17', '23', '24', '25', '26', '27', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', 'Aquarius', 'Aries', 'Arts', 'Cancer',
       'Capricorn', 'Fashion', 'Gemini', 'Government', 'Law', 'Leo',
       'Libra', 'Non-Profit', 'Pisces', 'Religion', 'Sagittarius',
       'Scorpio', 'Student', 'Taurus', 'Technology', 'Virgo', 'female',
       'male'], dtype=object)

In [0]:
y_train_transformed

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [0]:
y_test_transformed

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 1, 0]])

In [0]:
#Building model
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [0]:
clf = LogisticRegression(solver='lbfgs',max_iter = 1500)
clf = OneVsRestClassifier(clf)

In [0]:
clf.fit(x_train_dtm, y_train_transformed)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None,
                                                 dual=False, fit_intercept=True,
                                                 intercept_scaling=1,
                                                 l1_ratio=None, max_iter=1500,
                                                 multi_class='auto',
                                                 n_jobs=None, penalty='l2',
                                                 random_state=None,
                                                 solver='lbfgs', tol=0.0001,
                                                 verbose=0, warm_start=False),
                    n_jobs=None)

In [0]:
y_pred = clf.predict(x_test_dtm)

In [0]:
#Print scores ::::::::::

from sklearn import metrics
print(metrics.accuracy_score(y_test_transformed, clf.predict(x_test_dtm)))

0.15375

In [0]:
from sklearn.metrics import classification_report
print(classification_report(y_test_transformed, clf.predict(x_test_dtm)))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00        32
           1       0.67      0.08      0.14        74
           2       0.53      0.12      0.20       162
           3       0.61      0.15      0.24       318
           4       0.69      0.27      0.39       479
           5       0.87      0.13      0.23       312
           6       0.68      0.17      0.27       465
           7       0.76      0.18      0.29       331
           8       0.74      0.28      0.41       518
           9       0.69      0.19      0.29       358
          10       0.67      0.11      0.18        75
          11       1.00      0.14      0.24        65
          12       0.74      0.18      0.30       157
          13       0.97      0.47      0.63       326
          14       1.00      0.20      0.34        84
          15       0.67      0.11      0.19        18
          16       0.75      0.07      0.14        40
          17       1.00      0.17      0.29        24
          18       0.33      0.05      0.08        21
          19       0.88      0.32      0.47        22
          20       0.70      0.19      0.30        37
          21       0.00      0.00      0.00         8
          22       0.50      0.11      0.17        38
          23       0.60      0.23      0.33        13
          24       0.60      0.38      0.46         8
          25       1.00      0.13      0.24        15
          26       0.77      0.23      0.36       352
          27       0.85      0.28      0.42       487
          28       0.49      0.09      0.15       480
          29       0.62      0.21      0.32       354
          30       0.74      0.14      0.24       321
          31       0.87      0.47      0.61       526
          32       0.77      0.19      0.30       426
          33       0.76      0.23      0.35       500
          34       0.77      0.28      0.42       481
          35       0.73      0.14      0.23       216
          36       0.73      0.11      0.19       345
          37       0.59      0.16      0.25       484
          38       0.88      0.33      0.48       326
          39       0.82      0.43      0.56       522
          40       0.59      0.09      0.16       206
          41       0.82      0.13      0.22       288
          42       0.54      0.14      0.23       507
          43       0.80      0.17      0.28       342
          44       0.54      0.10      0.17       500
          45       0.67      0.12      0.20       337
          46       0.67      0.56      0.61      1629
          47       0.73      0.81      0.77      2371

   micro avg       0.72      0.34      0.46     16000
   macro avg       0.70      0.20      0.30     16000
weighted avg       0.72      0.34      0.42     16000
 samples avg       0.68      0.34      0.41     16000

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [0]:
# Print true label and predicted label for any five examples

In [60]:
print("expected\n",y_test_transformed[:5] , "\npredicted\n",y_pred[:5])

expected
 [[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
  0 0 0 0 0 0 0 0 1 0 0 1]
 [0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 1 1 0 0 0 0 0 0 0 1]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
  1 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 1 0 0 0 1 0 0 0 0 0 1]
 [0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
  0 1 0 0 0 0 0 0 0 0 0 1]]
predicted
 [[0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
  0 0 0 1 0 1 0 0 0 1 0 1]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
  1 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
  0 0 0 0 0 0 1 0 0 0 0 1]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 1 0]]